
.container {
  width: auto;
}

header {
  padding-top: 70px;
  padding-right:96px;

}

/* Links */

a {
  color: #09c;  /* #09c */
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1.outfit {
  margin-bottom: 0.3em;
}

table.outfits {
  margin-top: 3em;
}

table.outfits tr {
  height: 350px;
}

table.outfits tr td.p {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 280px;
}

table.outfits tr td.outfit {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
  
}

table.outfits tr td.outfit span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

